@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
         
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <td>Fernando@fernando.com</td>

            <td></td>
          
        </tr>
        <tr>
            <th>2</th>
            <td>Joao@joao.com.br</td>

            <td></td>
           
        </tr>
        <tr>
            <th>3</th>
            <td>Clara@clara.com.br</td>

            <td></td>
           
        </tr>
    </tbody>
</table>