<form action="" method="post">
	<label>Email</label>
	<input type="email" name="Email" value="" />
	<br /><br />
	<label>Senha</label>
	<input type="password" name="Senha" value="" />
	<br /><br />
	<button type=" submit" class="btn btn-primary">
		Logar
	</button>
	</input>
</form>
